.home_gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    background-color: #f7f7f7;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 25px;
    width: 95%;
    margin: 20px auto 40px auto;

    @media screen and (max-width: 768px) {
        gap: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
      }
}