.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    max-width: 95%;
    margin: 0 auto;
    padding-top: 30px;
 
    img{
        height: 80%;
        width: 60%;
        color: #ff6060;
        @media screen and (max-width: 768px) {
            height: fit-content;
            width: 30%;
       }
    }

    @media screen and (max-width: 768px) {
        padding-top: 10px;
      }
}