.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    max-width: 95%;
    margin: 0 auto;
    padding-top: 30px;
    

    img{
        width: 80%;
        color: #ff6060;
        @media screen and (max-width: 767px) {
            width: 70%;
       }
    }

    @media screen and (max-width: 767px) {
        padding-top: 10px;

        h1 {
            width: 60%;
        }
      }
}