.accomodation_content_host_name {
        display: flex;
        flex-direction: row;
        gap: 5px;
        div{
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            gap: 0 10px;
        }
        &_name{
            align-self: center;
            flex-direction: column;
        }
        img{
            width: 64px;
            height: 64px;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
        }
        span{
            align-self: center;
            margin-right: 5px;
        }
}